# model configuration
platform TensorFlow
recurrentSize [800,800]
recurrentUnit CudnnLSTM
bidirectional True
higherOrderLayers True
tertiaryOutput linear_alphabet
alphabetSize 60
includeEvolutionary True
numEdgeResidues 0
numEvoEntries 42
recurInKeepProb [0.5,0.5]
currBase 100
optimiser adam
batchSize 32
learnRate 0.0001
beta1 0.95
beta2 0.99
gradientThreshold 5.
rescaleBehavior norm_rescaling
maxSeqLength 700
numEpochs 100000
randSeed 426
recurrentInit {'base':{'range':0.01,'dist':'uniform'},'bias':{'range':0,'dist':'uniform'}}
recurrentOutProjInit {'base':{'range':0.01,'dist':'uniform'},'bias':{'range':0,'dist':'uniform'}}
alphabetInit {'range':3.14159,'dist':'uniform'}
numRecurrentParallelIters 1

# run configuration
datasetName ProteinNet12Thinning90
runName CASP12
fullTrainingGlob [!a-z]*
sampleValidationGlob 1
evaluationSubGroups ['10','20','30','40','50','70','90']
validationMilestone {1000:13.5,5000:12.6,20000:12.2,50000:11.4,100000:10.6}
detailedLogs False
evaluationFrequency 25 
predictionFrequency 250000
checkpointFrequency 250
numTrainingSamples 100
numValidationSamples 56
numTestingSamples 100
numValidationInvocations 4
includeWeightedTraining False
includeWeightedValidation True
includeUnweightedTraining False
includeUnweightedValidation False
includeDiagnostics True
trainingTertiaryNormalization first
evaluationTertiaryNormalization first
